html,
body {
  margin: 0;
  padding: 0;

  color: var(--black);
  background: var(--body-background);

  font-family: "Noto Sans KR", sans-serif;
}

a {
  text-decoration: none;

  color: inherit;
}

* {
  box-sizing: border-box;
}

:root {
  --black: #38434E;
  --white: white;
  --primary: #7653FC;
  --primary-hover: #B9AFE2;
  --red: #FC8360;
  --red-light: #ffdfd6;
  --green: #1DC37E;
  --green-ligth: #C8F8E4;
  --gray: #A4A4A4;
  --gray-dark: #787D85;
  --gray-light: #B1B1B1;
  --body-background: #F5F6F8;
  --font-family: "Noto Sans KR", sans-serif;
}
