<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/main.css")
        title= jsonData.pageTitle
    body

        header.header
            each item in jsonData.navigation
                a(href= item.link).header__link= item.name

        .content
            h1= jsonData.pageHeader
            p= jsonData.pageContent

        footer.footer
            h1 #{jsonData.footerHeader}
